section{
  text-align: center;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 3em;
}
title {
  text-align: center;
  margin-top: 50px;
  font-size: 3em;
}
div {
  width: auto;
  background-color: red;
  border: 15px solid red;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
}
h2 {
  font-size: 2.5em;
}
article {
  font-size: 2em;
}
body{
    margin:0;
    background-color: green;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
.active{
    background-color: red;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
#myCanvas
{
  text-align: center;
}
canvas {
  background-color: white;
  border:10px solid red;
  display: inline;
}
p
{
  position: center;
  margin: 10;
}
p a:hover {
  background-color: blue;
}
p a:visited {
  color: darkred;
}
p a:link {
  color: blueviolet;
}